@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    animation: slide-in 1s ease-out forwards;
  }
  
  @keyframes slide-out {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  .slide-in-right {
    animation: slide-out 1s ease-out backwards;
  }


  @keyframes slide-in-above {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .slide-in-above {
    animation-delay: slide-in-above 0.5s ease-out ;
  }



@keyframes slide{
  from {
    transform: translateX(0);

  }
  to {
    transform: translateX(-100%);

  }

}

.slide{
  animation: 5s slide infinite linear ;
}
  
#ImageSlidermain{
 
 white-space: nowrap;
}  


#imageSlider{
  display: inline-block;

}

#imageSlider2{
display: inline-block;
white-space: nowrap;
}
